body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f9f9f9, #e9f0f7);
  }

  

  .content {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ede7f6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  }

  h2 {
    text-align: center;
    color: #333;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }

  th {
    background-color: #dcd6f7;
  }

  td a {
    color: #007BFF;
    text-decoration: none;
  }

  td a:hover {
    text-decoration: underline;
  }